h1 {
    font-family: Lato, Roboto, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    color: #333;
    line-height: 6rem;
}
p {
    margin-bottom: 2rem;
}
.contact__banner {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: center center;
  background-size: cover;
}

.contact__wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: flex-start;
}
