.guitar-card {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  margin: 1rem;
  min-height: 500px;
  min-width: 250px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
