@import "../../../variables.scss";

h2, h3, h4, p {
    margin: 0.5rem;
}

.product {
    display: flex;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 80vh;
    width: 100%;
    margin-top: 2rem;

    &__image {
        max-height: calc(100vh - 8rem);
        max-width: 100%;
        width: auto;
        height: auto;
        padding: 2rem;
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100%;
            width: 30%;

        }
    }

    &__description {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 70%;
            padding: 2rem;
            border-left: 1px solid #eee;
        }
        &-buttons {
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }
        }
        &-button {
            line-height: 3rem;
            display: block;
            font-family: "Roboto", sans-serif;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 10px 30px;
            border: 0;
            border-radius: 10px;
            max-width: 20rem;
            outline: none;
            box-shadow: none;
            margin: 2rem;
            cursor: pointer;
            &:hover {
              background-color: darken($color-active, 40%);
              color: white;
            }
        }
    }
}
