<div class="container container--column">
  <div class="about__header">
    <h1>Kim jesteśmy?</h1>
  </div>
  <div
  class="about__banner"
  style="background-image: url(assets/img/banner/odair-faleco-bw.jpg)"
  ></div>
  <div class="wrapper wrapper--column">
    <h2>Lorem ipsum</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet soluta
      fugiat doloremque odit laboriosam, veritatis similique quidem? Assumenda
      libero, explicabo, maiores recusandae sequi natus autem, inventore minus
      labore consectetur cum accusantium aspernatur ipsam? Pariatur omnis
      possimus eligendi hic rerum ut officia expedita, voluptate quaerat
      provident aspernatur velit optio placeat enim corporis fugit sunt
      inventore architecto suscipit voluptatum. Ipsa molestiae, nostrum,
      voluptatum omnis neque provident perferendis ex voluptatibus quisquam
      animi impedit minus deleniti nobis aliquam ipsam voluptate rerum saepe
      dolorum reiciendis consectetur ea natus error aspernatur. Perferendis,
      unde fugit tempora natus rem eveniet consectetur accusantium perspiciatis
      quisquam, vitae earum sapiente doloribus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet soluta
      fugiat doloremque odit laboriosam, veritatis similique quidem? Assumenda
      libero, explicabo, maiores recusandae sequi natus autem, inventore minus
      labore consectetur cum accusantium aspernatur ipsam? Pariatur omnis
      possimus eligendi hic rerum ut officia expedita, voluptate quaerat
      provident aspernatur velit optio placeat enim corporis fugit sunt
      inventore architecto suscipit voluptatum. Ipsa molestiae, nostrum,
      voluptatum omnis neque provident perferendis ex voluptatibus quisquam
      animi impedit minus deleniti nobis aliquam ipsam voluptate rerum saepe
      dolorum reiciendis consectetur ea natus error aspernatur. Perferendis,
      unde fugit tempora natus rem eveniet consectetur accusantium perspiciatis
      quisquam, vitae earum sapiente doloribus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet soluta
      fugiat doloremque odit laboriosam, veritatis similique quidem? Assumenda
      libero, explicabo, maiores recusandae sequi natus autem, inventore minus
      labore consectetur cum accusantium aspernatur ipsam? Pariatur omnis
      possimus eligendi hic rerum ut officia expedita, voluptate quaerat
      provident aspernatur velit optio placeat enim corporis fugit sunt
      inventore architecto suscipit voluptatum. Ipsa molestiae, nostrum,
      voluptatum omnis neque provident perferendis ex voluptatibus quisquam
      animi impedit minus deleniti nobis aliquam ipsam voluptate rerum saepe
      dolorum reiciendis consectetur ea natus error aspernatur. Perferendis,
      unde fugit tempora natus rem eveniet consectetur accusantium perspiciatis
      quisquam, vitae earum sapiente doloribus.
    </p>
  </div>
</div>
