h2 {
    font-size: 1.5rem;
    margin: 1rem;
}
p {
    margin: 1rem;
}
.about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 8rem;
    h1 {
        font-family: Lato, Roboto, Arial, sans-serif;
        letter-spacing: 1px;
        font-weight: 900;
        color: #333;
    }
}
.about__banner {
    width: 100vw;
    height: 15rem;
    overflow: hidden;
    background: center center no-repeat;
    background-size: cover;
}
