<div class="banner">
  <img
    src="assets/img/banner/alberto-bigoni-jazz.jpg"
    alt="Jazz Bass photograph by Alberto Bigoni from Unsplash.com"
  />
  <img
    src="assets/img/banner/frame-harirak-strat.jpg"
    alt="Fender Stratocaster photograph by Frame Harirak from Unsplash.com"
  />
  <img
    src="assets/img/banner/andrew-welch-effects.jpg"
    alt="Guitar effects photograph by Andrew Welch from Unsplash.com"
  />
  <div class="banner__window"></div>

  <div class="banner__window">
    <h2 class="banner__header">Szukasz sprawdzonego instrumentu?</h2>
    <p class="banner__description">
      Od 2000 roku Gitarowy Komis zajmuje się sprzedażą oraz restauracją tych
      modeli gitar, które na stałe zapisały się na kartach historii muzyki
      rozrywkowej.
    </p>
    <div class="banner__buttons-container">
      <a routerLink="/oferta">
        <button class="btn banner__button">Przejdź do oferty</button>
      </a>
    </div>
  </div>
</div>
